<footer class="footer">
    <div class="footer-wrapper">
        <h2 class="footer-title">Calidad y corazón en cada taza</h2>

        <div class="footer-grid">

            <div class="footer-brand">
                <a href="#home">
                    <img src="./public/images/LOGO_LOLOSCAFE_VECTORIZADO.svg" alt="Lolo's Café">
                </a>

                <div class="footer-social-icons">
                    <a href="#" title="Facebook">
                        <img src="./public/images/Facebook.png" alt="Facebook">
                    </a>

                    <a href="#" title="Instagram">
                        <img src="./public/images/Instagram.png" alt="Instagram">
                    </a>

                    <a href="#" title="Teléfono">
                        <img src="./public/images/Phone.png" alt="Teléfono">
                    </a>
                </div>
            </div>

            <div class="footer-block">
                <h3>Dirección</h3>
                <p>
                    Presa Miguel Hidalgo 485<br>
                    Gustavo Díaz Ordaz<br>
                    81343
                </p>
            </div>

            <div class="footer-block">
                <h3>Horarios</h3>
                <p>
                    Martes a Domingo<br>
                    11:00 a.m. - 9:00 p.m.
                </p>
            </div>

            <div class="footer-links">
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Aviso de privacidad</a>
            </div>

        </div>
    </div>
</footer>
